
// button ====================================================================================================//

.button {
	@include adaptiveValue("padding-top", 12, 10);
	@include adaptiveValue("padding-bottom", 12, 10);
	@include adaptiveValue("padding-right", 40, 30);
	@include adaptiveValue("padding-left", 40, 30);
	font-family: oswald;
	@include adaptiveValue("font-size", 16, 14);
	line-height: 150%; /* 24/16 */
	text-transform: uppercase;
	border: 1px solid rgba(255, 255, 255, 0.295743);
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	border: 1px solid rgba(#000, 0.5);
	color: rgba(#000, 0.8);
	
	&:hover {
		border: 1px solid #000;
		color: #000;
	}
	
	&_black {
		color: #fff;
		background-color: #000;
		transition: all 0.4s ease 0s;
		&:hover {
			transform: scale(1.01);
			color: #e0e0e0;
		}
	}
	&_white {
		border: 1px solid rgba(#fff, 0.8);
		color: rgba(#fff, 0.8);
		text-align: center;
		display: inline-block;
		&:hover {
			color: #fff;
			border: 1px solid #fff;
		}
	}
}

// label ====================================================================================================//

.label {
	font-family: oswald;
	line-height: 200%; /* 32/16 */
	letter-spacing: 3px;
	text-transform: uppercase;
	&_w {
		color: #fff;
	}

	&_l {
		font-family: oswald;
		@include adaptiveValue("font-size", 24, 18);
		letter-spacing: normal;
		line-height: 133.333333%; /* 32/24 */
		color: #171B1B;
	}
}

// title ====================================================================================================//

.title {
	font-family: ultra;
	@include adaptiveValue("font-size", 56, 30);
	line-height: 111.111111%; /* 80/72 */
	&_w {
		color: #fff;
		@include adaptiveValue("font-size", 72, 23);
	}

}

// sub-title ====================================================================================================//

.sub-title {
	font-family: ultra;
	@include adaptiveValue("font-size", 40, 30);
	line-height: 160%; /* 48/30 */
	color: #171B1B;
	&_w {
		color: #fff;
		line-height: 120%; /* 48/40 */
	}
}

// text ====================================================================================================//

.text {
	line-height: 140%;
	color: rgba(51, 51, 51, 0.6);
	&_w {
		color: rgba(#fff, 0.8);
	}
}


// value ====================================================================================================//

.value {
	font-family: ultra;
	@include adaptiveValue("font-size", 40, 30);
	line-height: 120%; /* 48/40 */

	&_w {
		color: #fff;
	}
}


// slider-vertical ====================================================================================================//

.slider-vertical {
	position: relative;
	min-width: 0;
	@include adaptiveValue("padding-bottom", 35, 20);

	&__item {
	}

	&__number {
		font-family: oswald;
		line-height: 200%; /* 32/16 */
		letter-spacing: 3px;
		text-transform: uppercase;
		padding-bottom: 8px;
	}

	&__sub-title {
		font-family: oswald;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 133.333333%; /* 32/24 */
		@include adaptiveValue("padding-bottom", 20, 15);
	}

	&__text {
		color: rgba(51, 51, 51, 0.496405);
		line-height: 200%; /* 32/16 */
		@media (max-width: 992px) {
			line-height: 120%;
			color: #000;
		}
	}
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;	//!!! Скрыть лишние слайды
}
/* Лента слайдов */
.slick-track{
	//display: flex;	//!!! Выстроить в ряд
}
/* Стрелки*/
.slick-arrow{
	position: absolute;
	left: -70px;
	font-size: 0;
	height: 50px;
	width: 50px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	top: 30px;
	background: url('@img/about/icons/arrow-top.svg') 0 0 no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	top: 90px;
	background: url('@img/about/icons/arrow-bottom.svg') 0 0 no-repeat;
}

// iframe ====================================================================================================//

.popup__text {
	iframe {
		border-radius: 15px;
	}
}

.popup__content {
	height: 100%;
	width: 100%;
}

//  ====================================================================================================//

.testimonials__slider{
	.slick-track{
		display: flex;	//!!! Выстроить в ряд
	}
	.slick-list {
		overflow: hidden;	//!!! Скрыть лишние слайды
	}


	/*точки */
	.slick-dots{
		display: flex;
		//align-items: center;
		justify-content: center;
	}
	.slick-dots li{
		@include adaptiveValue("padding-top", 50, 20);
		margin: 0px 10px;
		list-style: none;
	}
	.slick-dots li button{
		font-size: 0;
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background-color: #9EAD8D;
	}
	/* Активная точка */
	.slick-dots li.slick-active button{
		height: 16px;
		width: 16px;
		background-color: #171B1B;
	}
}

