
// button ====================================================================================================//

.button {
	@include adaptiveValue("padding-top", 12, 10);
	@include adaptiveValue("padding-bottom", 12, 10);
	@include adaptiveValue("padding-right", 40, 30);
	@include adaptiveValue("padding-left", 40, 30);
	font-family: oswald;
	@include adaptiveValue("font-size", 16, 14);
	line-height: 150%; /* 24/16 */
	text-transform: uppercase;
	border: 1px solid rgba(255, 255, 255, 0.295743);
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	&:hover {
		transform: scale(1.01);
	}

	&_black {
		color: #fff;
		background-color: #000;
		transition: all 0.4s ease 0s;
		&:hover {
			color: #e0e0e0;
		}
	}
}

// label ====================================================================================================//

.label {
	font-family: oswald;
	line-height: 200%; /* 32/16 */
	letter-spacing: 3px;
	text-transform: uppercase;
	&_w {
		color: #fff;
	}
}

// title ====================================================================================================//

.title {
	font-family: ultra;
	@include adaptiveValue("font-size", 72, 30);
	line-height: 111.111111%; /* 80/72 */
	&_w {
		color: #fff;
	}

}

// sub-title ====================================================================================================//

.sub-title {
	font-family: ultra;
	@include adaptiveValue("font-size", 40, 30);
	line-height: 160%; /* 48/30 */
	color: #171B1B;
}

// text ====================================================================================================//

.text {
	line-height: 140%;
	color: rgba(51, 51, 51, 0.6);
}


// slider-vertical ====================================================================================================//

.slider-vertical {
	position: relative;
	min-width: 0;

	&__item {
	}

	&__number {
		font-family: oswald;
		line-height: 200%; /* 32/16 */
		letter-spacing: 3px;
		text-transform: uppercase;
		padding-bottom: 8px;
	}

	&__sub-title {
		font-family: oswald;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 133.333333%; /* 32/24 */
		@include adaptiveValue("padding-bottom", 20, 15);
	}

	&__text {
		color: rgba(51, 51, 51, 0.496405);
		line-height: 200%; /* 32/16 */
		@include adaptiveValue("padding-bottom", 35, 20);
		@media (max-width: 992px) {
			line-height: 120%;
			color: #000;
		}
	}
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;	//!!! Скрыть лишние слайды
}
/* Лента слайдов */
.slick-track{
	//display: flex;	//!!! Выстроить в ряд
}
/* Стрелки*/
.slick-arrow{
	position: absolute;
	left: -70px;
	font-size: 0;
	height: 50px;
	width: 50px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	top: 30px;
	background: url('@img/about/icons/arrow-top.svg') 0 0 no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	top: 90px;
	background: url('@img/about/icons/arrow-bottom.svg') 0 0 no-repeat;
}

// iframe ====================================================================================================//

.popup__text {
	iframe {
		border-radius: 15px;
	}
}

.popup__content {
	height: 100%;
	width: 100%;
}