
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 70px; // Высота шапки
			background-color: #fff;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}

//  ====================================================================================================//

.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #fff;

	&__container {
	}

	&__menu {
		@include adaptiveValue("height", 90, 70, 1170, 767, 1);
	}
}

.header._header-scroll .header__menu{
	height: 70px;
}

.header._header-scroll{
	@media (min-width: 767px) {
		background: rgba(#fff, 0.5);
		backdrop-filter: blur(5px);
	}
	//-webkit-backdrop-filter;
}

//body._lock .header._header-scroll{
//	backdrop-filter: none;
//}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;


	&__logo {
		font-family: ultra;
		@include adaptiveValue("font-size", 40, 30);
		line-height: 120%; /* 48/40 */
		position: relative;
		z-index: 5;
		@media (max-width: 767px) {
			flex: 1 1 auto;
		}
		@media (min-width: 767px) {
			margin-right: 80px;
		}
	}

	&__body {
		display: flex;
		flex: 1 1 auto;
	}

	&__list {
		position: relative;
		z-index: 3;
		display: flex;
		align-items: center;
		gap: 60px;
		@media (max-width: 767px) {
			display: block;
			color: #fff;
			@include adaptiveValue("font-size", 40, 28);
			text-align: center;
			margin: 0 auto;
			margin-top: 40px;
		}
		li {
			line-height: 200%; /* 32/16 */
		}
	}

	&__button {
		position: relative;
		z-index: 5;
		@media (max-width: 767px) {
			@include adaptiveValue("margin-right", 80, 30, 767, 320, 1);
		}
	}

	&__icon {
	}
}
.menu-link {
	@media (min-width: 767px) {
		position: relative;
		&::after{
			content: "";
			position: absolute;
			right: 0;
			width: 0;
			height: 1px;
			background-color: #000;
			bottom: 0;
			transition: all 0.3s ease 0s;
		}
		&:hover{
			color: #000;
			&::after {
				left: 0;
				width: 100%;
			}
		}
	}
}
