.page {
}
.bakery {

		&__body {
			@media (min-width: 767px) {
				display: flex;
			}
		}

		&__content {
			background-color: rgba(231, 212, 190, 0.44);
			@media (min-width: 767px) {
				flex: 0 0 100%;
			}
		}

		&__container {
		}

		&__box {
			@media (min-width: 767px) {
				width: 50%;
				@include adaptiveValue("padding-right", 120, 40, 1170, 767, 2);
			}
		}

		&__label {
			@include adaptiveValue("padding-top", 160, 40);
			padding-bottom: 20px;
		}

		&__title {
			@include adaptiveValue("padding-bottom", 30, 20);
		}

		&__text {
			@include adaptiveValue("font-size", 20, 16);
			line-height: 160%; /* 32/20 */
		}

		&__decor {

			&_1 {
			}

			&_2 {
			}
		}

		&__image {
			img {
				max-width: 100%;
			}
			@media (min-width: 767px) {
				flex: 0 0 50%;
				transform: translate(-100%, 0);
			}
		}
}
