.page {
	padding-bottom: 250px;
}
.bakery {
	@include adaptiveValue("padding-top", 90, 70, 1170, 767, 1);
	background-color: rgba(231, 212, 190, 0.44);

		&__body {
			@media (min-width: 767px) {
				display: flex;
			}
		}

		&__content {
			@media (min-width: 767px) {
				flex: 0 0 100%;
			}
		}

		&__container {
		}

		&__box {
			@media (min-width: 767px) {
				width: 50%;
				@include adaptiveValue("padding-right", 120, 40, 1170, 767, 2);
			}
			position: relative;
		}

		&__label {
			@include adaptiveValue("padding-top", 160, 40, 1170, 767, 1);
			padding-bottom: 20px;
		}

		&__title {
			@include adaptiveValue("padding-bottom", 30, 20);
		}

		&__text {
			@include adaptiveValue("font-size", 20, 16);
			line-height: 160%; /* 32/20 */
			@media (max-width: 767px) {
				@include adaptiveValue("padding-bottom", 30, 20, 767, 320, 1);
			}
		}

		&__decor {

			&_1 {
				position: absolute;
				top: 0px;
				left: -130px;
				z-index: -1;
				@media (max-width: 1350px) {
					left: 0;
				}
				@media (max-width: 767px) {
					display: none;
				}
			}

			&_2 {
				position: absolute;
				top: 33%;
				left: 45%;
				@media (max-width: 767px) {
					display: none;
				}
				@media (max-width: 1200px) {
					display: none;
				}
			}
		}

		&__image {
			img {
				max-width: 100%;
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			@media (min-width: 767px) {
				flex: 0 0 50%;
				transform: translate(-100%, 0);
			}
			@media (max-width: 767px) {
				padding: 0px 15px;
			}
		}
}

// about ====================================================================================================//
.about {
	@include adaptiveValue("padding-top", 160, 50);

	&__container {
	}

	&__body {
		display: flex;
		@media (max-width: 992px) {
			flex-direction: column;
			position: relative;
		}
	}

	&__image {
		flex: 0 1 50%;
		min-width: 390px;
		position: relative;
		@media (max-width: 992px) {
			order: 2;
			margin: 0 0 0 auto;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0.4;
			//display: none;
		}
		img {
			max-width: 100%;
		}
	}

	&__decor {
		position: absolute;
		top: 50%;
		left: -60px;
		@media (max-width: 1000px) {
			display: none;
		}
	}

	&__content {
		flex: 0 1 50%;
		@media (max-width: 992px) {
			order: 1;
		}
	}
}
.content-about {

	&__label {
		@include adaptiveValue("padding-bottom", 20, 15);
	}

	&__title {
		@include adaptiveValue("padding-bottom", 60, 25);
	}

	&__slider {
		margin-left: 70px;
		@media (max-width: 992px) {
			@include adaptiveValue("margin-bottom", 30, 20, 992, 320, 1);
		}
	}

	&__quote {
		line-height: 200%; /* 32/16 */
		color: #171B1B;
		@media (max-width: 992px) {
			@include adaptiveValue("padding-bottom", 30, 20, 992, 320, 1);
		}
	}
}
.slider-about {
}
