.page {
	padding-bottom: 250px;
}
.bakery {
	@include adaptiveValue("padding-top", 90, 70, 1170, 767, 1);
	background-color: rgba(231, 212, 190, 0.44);

		&__body {
			@media (min-width: 767px) {
				display: flex;
			}
		}

		&__content {
			@media (min-width: 767px) {
				flex: 0 0 100%;
			}
		}

		&__container {
		}

		&__box {
			@media (min-width: 767px) {
				width: 50%;
				@include adaptiveValue("padding-right", 120, 40, 1170, 767, 2);
			}
			position: relative;
		}

		&__label {
			@include adaptiveValue("padding-top", 160, 40, 1170, 767, 1);
			padding-bottom: 20px;
		}

		&__title {
			@include adaptiveValue("padding-bottom", 30, 20);
		}

		&__text {
			@include adaptiveValue("font-size", 20, 16);
			line-height: 160%; /* 32/20 */
			@media (max-width: 767px) {
				@include adaptiveValue("padding-bottom", 30, 20, 767, 320, 1);
			}
		}

		&__decor {

			&_1 {
				position: absolute;
				top: 0px;
				left: -130px;
				z-index: -1;
				@media (max-width: 1350px) {
					left: 0;
				}
				@media (max-width: 767px) {
					display: none;
				}
			}

			&_2 {
				position: absolute;
				top: 33%;
				left: 45%;
				@media (max-width: 767px) {
					display: none;
				}
				@media (max-width: 1200px) {
					display: none;
				}
			}
		}

		&__image {
			img {
				max-width: 100%;
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			@media (min-width: 767px) {
				flex: 0 0 50%;
				transform: translate(-100%, 0);
			}
			@media (max-width: 767px) {
				padding: 0px 15px;
			}
		}
}

// about ====================================================================================================//
.about {
	@include adaptiveValue("padding-top", 160, 50);

	&__container {
	}

	&__body {
		display: flex;
		@media (max-width: 992px) {
			flex-direction: column;
			position: relative;
		}
	}

	&__image {
		flex: 0 1 50%;
		min-width: 390px;
		position: relative;
		@media (max-width: 992px) {
			//order: 2;
			margin: 0 0 0 auto;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0.4;
		}
		img {
			max-width: 100%;
		}
	}

	&__decor {
		position: absolute;
		top: 50%;
		left: -60px;
		@media (max-width: 1000px) {
			display: none;
		}
	}

	&__content {
		flex: 0 1 50%;
		@media (max-width: 992px) {
			order: 1;
		}
	}
}
.content-about {

	&__label {
		@include adaptiveValue("padding-bottom", 20, 15);
	}

	&__title {
		@include adaptiveValue("padding-bottom", 60, 25);
	}

	&__slider {
		margin-left: 70px;
		@media (max-width: 992px) {
			@include adaptiveValue("margin-bottom", 30, 20, 992, 320, 1);
		}
	}

	&__quote {
		line-height: 200%; /* 32/16 */
		color: #171B1B;
		@media (max-width: 992px) {
			@include adaptiveValue("padding-bottom", 30, 20, 992, 320, 1);
		}
	}
}

// features ====================================================================================================//

.features {
	@include adaptiveValue("padding-top", 150, 40);
	@include adaptiveValue("padding-bottom", 170, 40);

	&__container {
	}

	&__label {
		@include adaptiveValue("padding-bottom", 18, 10);
		@media (min-width: 767px) {
			text-align: center;
		}
	}

	&__title {
		@media (min-width: 767px) {
			text-align: center;
		}
		@include adaptiveValue("padding-bottom", 50, 30);
	}

	&__content {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
}

.content-features {

	&__column {
		position: relative;
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			@include adaptiveValue("padding-top", 50, 20, 767, 320, 1);
			@include adaptiveValue("padding-bottom", 50, 20, 767, 320, 1);
			@include adaptiveValue("padding-right", 40, 15, 767, 320, 1);
			@include adaptiveValue("padding-left", 40, 15, 767, 320, 1);
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
		//padding: 50px 40px 50px 60px;
		@include adaptiveValue("padding-top", 50, 20, 1170, 767, 2);
		@include adaptiveValue("padding-bottom", 50, 20, 1170, 767, 2);
		@include adaptiveValue("padding-right", 40, 15, 1170, 767, 2);
		@include adaptiveValue("padding-left", 50, 20, 1170, 767, 2);
		transition: all 0.2s ease 0s;
		cursor: pointer;
		@media (max-width: 767px) {
			background-color: #F9BF77;
			path {
				fill: #fff;
			}
		}
		&:hover {
			background-color: #F9BF77;
			.content-features__decor {
				opacity: 1;
			}
			path {
				fill: #fff;
			}
		}
	}

	&__image {
		img {
			max-width: 100%;
		}
		path {
			transition: all 0.3s ease 0s;
		}
		@include adaptiveValue("padding-bottom", 60, 20);
	}

	&__sub-title {
		@include adaptiveValue("padding-bottom", 18, 15);
	}

	&__text {
	}

	&__decor {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
		@media (max-width: 1050px) {
			transform: scale(0.6) translate(34%, -35%);
		}
		@media (max-width: 767px) {
			opacity: 1;
			transform: none;
		}
		@media (max-width: 500px) {
			transform: scale(0.6) translate(34%, -34%);
		}
	}
}

// video ====================================================================================================//

.video {
	position: relative;
	@include adaptiveValue("padding-top", 150, 40);
	@include adaptiveValue("padding-bottom", 150, 40);
	background-color: rgba(0, 0, 0, 0.33);

	&__background-ibg {
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	&__background {
	}

	&__container {
		display: flex;
		position: relative;
		align-items: center;
	}

	&__button-box {
		flex: 0 1 50%;
		text-align: center;
		position: relative;
		z-index: 2;
		@media (max-width: 767px) {
			flex: 0 1 30%;
			margin-right: 20px;
		}
	}

	&__button {
		.round, .trigon {
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			svg {
				max-width: 100%;
				height: auto;
			}
		}
		&:hover {
			.round {
				fill: #f5ae5c;
			}
			.trigon {
				fill: #000;
			}
		}
	}

	&__content {
		flex: 0 1 50%;
		user-select: none;
		@media (max-width: 767px) {
			flex: 0 1 70%;
		}
	}

	&__label {
		@include adaptiveValue("padding-bottom", 18, 15);
	}

	&__title {
	}

	&__decor {
		user-select: none;
		position: absolute;
		top: -50%;
		left: 0;
		width: 100%;
		height: 100%;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

// products ====================================================================================================//

.products {
	@include adaptiveValue("padding-top", 105, 40);

	&__container {
	}

	&__label {
		@include adaptiveValue("padding-bottom", 18, 15);

	}

	&__title {
		@include adaptiveValue("padding-bottom", 70, 35);
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		@media (max-width: 992px) {
			gap: 15px;
		}
	}

	&__item {
		&:not(:first-child){
			background-color: #f4ece2;
			
		}
		flex: 0 1 calc(33.333% - 20px);
		@media (max-width: 992px) {
			flex: 0 1 calc(33.333% - 10px);
		}
		@media (max-width: 767px) {
			flex: 0 1 calc(50% - 7.5px);
			@include adaptiveValue("padding-bottom", 30, 0, 767, 500, 1);
		}
		@media (max-width: 450px) {
			flex: 0 1 100%;
		}
	}
}


.item-products {

	&_big {
		position: relative;
		flex: 0 1 calc(66.667% - 10px);
		padding: 150px 50px 40px 50px;
		@include adaptiveValue("padding-top", 150, 50, 1170, 992, 1);
		display: flex;
		flex-direction: column;
		@media (max-width: 992px) {
			flex: 0 1 calc(66.667% - 5px);
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
		@media (max-width: 450px) {
			padding: 20px 20px;
		}
	}

	&__goods {
		@include adaptiveValue("padding-left", 32, 20);
		@include adaptiveValue("padding-right", 35, 20);
		//padding-bottom: 16px;
	}

	&__label {
		padding-bottom: 16px;
		@include adaptiveValue("padding-bottom", 15, 0);
		&_l {
			padding-bottom: none;
		}
	}

	&__sub-title {
		flex: 1 1 auto;
		max-width: 322px;
		@include adaptiveValue("padding-bottom", 20, 15);
	}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	&__text {
		max-width: 322px;
	}

	&__value {
		padding-bottom: 16px;
	}

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__image {
		@include adaptiveValue("padding-bottom", 25, 10, 1170, 767, 1);
		img {
			max-width: 100%;
			@media (max-width: 450px) {
				width: 100%;
			}
		}
	}
}